.btnBlack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--preto);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnGray {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--cinza-claro-200);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnRed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--verde);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnGray_table {
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    background-color: var(--cinza-claro-200);
    color: var(--branco);
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnBlack:hover {
    background-color: var(--azul);
}

.btnGray:hover {
    background-color: var(--cinza-claro-100);
    color: var(--preto);
}

.btnGray_table:hover {
    background-color: var(--azul);
}

.btnRed:hover {
    background-color: var(--preto);
}

.btnGreen:hover {
    background-color: var(--preto);
}

.btnPositionRight {
    display: block;
    margin-left: auto;
}

.btnPositionCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btnSizeFull {
    width: 100%
}

.btnSizeSmall {
    width: 20%
}

.btnSizeMedium {
    width: 25%;
}

.btnSizeHeightLimited {
    height: 2.5rem;
}

.btnRedFilter {
    padding: 1rem 4.8rem;
}

.btnFilterRed {
    padding: 1rem 5.2rem;
}

.btnFilterGray {
    padding: 0.5rem 1.689rem;
}

.btnDownloadAllFile {
    padding: 0.5rem 0.50rem;
}

@media (max-width: 788px) {
    .btnBlack {
        width: 100%;
        padding: 1rem;      
    }

    .btnGray {
        width: 100%;
        padding: 1rem;        
    }

    .btnGreen {
        width: 100%;    
    }

    .btnRed {
        width: 100%;
        padding: 1rem;
    }

    .btnGray_table {
        width: 100%;
        padding: 1rem;
    }

    .btnPositionRight {
        margin: 0;
    }

    .btnSizeSmall {
        width: 100%;
        margin-top: 2rem;
    }

    .btnSizeMedium {
        width: 100%;
    }

    .btnPositionCenter {
        margin: 0 auto;
    }

}