.btnBlack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--preto);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnGray {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnRed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--verde);
    color: var(--branco);
    padding: 1rem 1.50rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    white-space: nowrap;
}

.btnBlack:hover {
    background-color: var(--azul);
}

.btnGray:hover {
    background-color: var(--cinza-claro);
    color: var(--preto);
}

.btnRed:hover {
    background-color: var(--preto);
}

.btnGreen:hover {
    background-color: var(--preto);
}

.btnPositionRight {
    display: block;
    margin-left: auto;
}

.btnPositionCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btnSizeFull {
    width: 100%
}

.btnSizeSmall {
    width: 20%
}

.btnSizeMedium {
    width: 25%;
}

.btnSizeHeightLimited {
    height: 2.5rem;
}

@media (max-width: 767px) {
    .btnBlack {
        width: 100%;
        padding: 1rem;
        font-size: 1.1rem;
    }

    .btnPositionRight {
        margin: 0;
    }

    .btnSizeSmall {
        width: 100%;
        margin-top: 2rem;
    }

    .btnSizeMedium {
        width: 100%;
    }

    .btnPositionCenter {
        margin: 0 auto;
    }

    .invalid_message_error {
        color: var(--vermelho);
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }

    .success-message {
        color: var(--verde);
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }
}