.barra_superior {
    margin-top: 1rem;
}

.filtro {
    display: flex;
    gap: 1rem;
}

.filtroDiversos {
    font-size: 0.9rem;
}

.linha-filtros-superior,
.linha-filtros-inferior {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.linha-filtros-superior input,
.linha-filtros-inferior input,
.linha-filtros-superior select,
.linha-filtros-inferior select {
    flex: 1;
}

input,
select {
    padding-left: 0.5rem;
    border: 1px solid var(--cinza-claro);
    height: 2.188rem;
    border-radius: 0.625rem;
}