.container_padrao {
    background: var(--branco);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
}

.formulario_padrao {
    color: var(--preto);
    background-color: var(--branco);
    padding: 3.1rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    min-width: 44rem;
    max-width: auto;
    height: 38rem;
    margin: 2.5rem;

}

.formulario-card_menor {
    color: var(--preto);
    background-color: var(--branco);
    padding: 3.125rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    height: 22.875rem;
    margin: 2.5rem;
}

.formulario-card_medio {
    color: var(--preto);
    background-color: var(--branco);
    padding: 3.125rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    height: 100%;
    margin: 2.5rem;
}

@media (max-width: 767px) {
    .container_padrao {
        margin-top: 3rem;
    }

    .formulario_padrao {
        height: auto;
    }

    .formulario-card_menor {
        width: 100%;
        padding: 2rem;
        margin: 1rem;
        height: auto;
    }
}