.container_padrao {
    background: var(--branco);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.formulario_padrao {
    color: var(--preto);
    background-color: var(--branco);
    padding: 3.1rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    height: max-content;
    margin: 2.5rem;
}

.formulario-card_menor {
    color: var(--preto);
    background-color: var(--branco);
    padding: 3.125rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    height: max-content;
    margin: 2.5rem;
}

.formulario-card_medio {
    color: var(--preto);
    background-color: var(--branco);
    padding: 3.125rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    height: 100%;
    margin: 2.5rem;
}

@media (max-width: 921px) {
    .container_padrao {
        margin-top: 3rem;
    }
}

@media (max-width: 768px) {
    .formulario-card_medio {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        overflow: hidden;
    }

    .formulario-card_menor {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        overflow: hidden;
    }

}