:root {
  --branco: #ffffff;
  --preto: #000000;
  --vermelho: #cc141d;
  --cinza-claro: #E0E0E0;
  --azul: #0E7AB4;
  --verde: #1ca83d;
  --azul-dark: #011825;
  --laranja-dark: #DB4B16;
  --cinza-escuro: #7e7e7e;
  --cinza-medio: #b4b4b4;
  --cinza-claro-100: #f2f2f2;
  --cinza-claro-200: #c7c6c6;
  --amarelo: #facb4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--branco);
  height: 100%;
}

ul {
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
}

li a:focus {
  outline: none;
  border: 1px solid var(--branco);
  border-radius: 2px;
}