body {
  background-image: url(../assets/img/ceuEstrelado.jpg);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.logoMackenzie {
  width: 10.5rem;
  max-width: 100%;
  margin-bottom: 0.3rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.botaoLoginMenu {
  color: var(--branco);
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botaoLoginMenu:hover {
  color: var(--vermelho);
  transition: 0.2s ease-in-out;
}

.cadastro a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  background-color: var(--branco);
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 0.375rem;
}

.cadastro a:hover {
  background: var(--vermelho);
  transition: 0.2s ease-in-out;
}

li a:hover {
  color: var(--branco);
  transition: 0.2s ease-in-out;
}

.tituloPrincipalComImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--branco);
}

.fotoSol {
  width: 20rem;
  margin-bottom: 1rem;
}

.titulo1 {
  font-size: 3rem;
}

.titulo2 {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 13rem;
}

/* home logado*/

.nome_logado {
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
  display: block;
}

.access_profile {
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
  font-size: small;
  display: block;
}

.divconta:hover a {
  color: var(--vermelho);
  transition: 0.2s ease-in-out;
}

.sair {
  text-decoration: none;
  color: var(--vermelho);
  font-weight: bold;
  display: block;
}