.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: black;
}

.logoMackenzie {
  width: 10.5rem;
  max-width: 100%;
  margin-bottom: 0.3rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.botaoLoginMenu {
  color: var(--branco);
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botaoLoginMenu:hover {
  color: var(--vermelho);
  transition: 0.2s ease-in-out;
}

.cadastro a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
  color: var(--preto);
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 10px;
}

.cadastro a:hover {
  background: var(--vermelho);
  color: var(--branco);
  transition: 0.2s ease-in-out;
}

li a:hover {
  color: var(--vermelho);
  transition: 0.2s ease-in-out;
}

.titulo1 {
  font-size: 3rem;
}

.titulo2 {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 13rem;
}

/* home logado*/

.nome_logado {
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
  display: block;
}

.access_profile {
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
  font-size: small;
  display: block;
}

.divconta:hover a{
  color: var(--vermelho);
  transition: 0.2s ease-in-out;
}

.sair{
  text-decoration: none;
  color: var(--vermelho);
  font-weight: bold;
  display: block;
}