main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
    height: auto;
}

.solarFlares {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.solarFlares .formulario-card_medio {
    width: calc(33.54% * 2 + 3.8rem);
    max-width: 1380px;
    padding: 3rem 3rem;
    box-sizing: border-box;
    margin: 0 2.5rem 2.5rem;
}

.solarFlares .titulo_padrao {
    display: inline-block;
    margin: 0;
}

.btn-saiba-mais-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 0,5rem;
}

.ocultar {
    display: none;
}

@media (max-width: 767px) {
    .titulo_banner {
        font-size: 2rem;
    }

    .titulo2_banner {
        font-size: 3rem;
        margin-left: 0;
        text-align: center;
    }

    .titulo_padrao {
        font-size: 1.2rem;
    }

    .btn-saiba-mais-wrapper {
        justify-content: center;
        width: 100%;
    }

    .solarFlares .formulario-card_medio {
        width: 90%;
        margin: 0 auto 2.5rem auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .solarFlares .formulario-card_medio {
        width: 90%;
        max-width: 900px;
        margin: 0 auto 2.5rem auto;
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .solarFlares .formulario-card_medio {
        width: 80%;
        margin: 0 auto 2.5rem auto;
    }
}