.estruturaLogin {
    display: none;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 5rem;
}

.caixaGeral {
    width: 25rem;
    height: 27.5rem;
    background: transparent;
    border: 2px solid var(--branco);
    border-radius: 20px;
    backdrop-filter: blur(80px);
    box-shadow: 0 0 30px;
}

.caixaGeral .botaoFechar {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.8125rem;
    height: 2.8125rem;
    background: transparent;
    font-size: 2rem;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botaoFechar:hover {
    color: var(--vermelho);
}

.caixaGeral .blocoFormulario {
    width: 100%;
    padding: 40px;
}

.blocoFormulario h2 {
    font-size: 2rem;
    text-align: center;
}

.campoInput {
    position: relative;
    width: 100%;
    height: 3.124rem;
    border-bottom: 2px solid;
    margin: 30px 0;
}

.campoInput label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.campoInput input:focus~label,
.campoInput input:valid~label {
    top: -5px;
}

.campoInput input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--branco);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.lembrarSenha {
    font-size: 0.9rem;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.lembrarSenha label input {
    accent-color: var(--vermelho);
    margin-right: 3px;
}

.lembrarSenha a {
    color: var(--branco);
    text-decoration: none;
}

.lembrarSenha a:hover {
    text-decoration: underline;
    color: var(--vermelho);
    opacity: 0.6;
}

.botaoLogin {
    width: 100%;
    height: 2.8125rem;
    background: var(--branco);
    color: var(--preto);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: ease-in-out 0.5s;
}

.botaoLogin:hover {
    font-weight: bold;
    background: var(--vermelho);
    opacity: 0.8;
}

.loginCadastro {
    font-size: 0.9rem;
    text-align: center;
    font-size: 500;
    margin: 25px 0 10px;
}

.loginCadastro p a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
}

.loginCadastro p a:hover {
    text-decoration: underline;
    color: var(--vermelho);
    opacity: 0.6;
}