.estruturaLogin {
    display: none;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    margin-top: 3.8rem;
    transform: translateX(-22%);
}

.caixaGeral {
    width: 17rem;
    height: 21rem;
    background: transparent;
    border-radius: 20px;
    background-color: var(--branco);
}

.caixaGeral .botaoFechar {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.8125rem;
    height: 2.8125rem;
    background: transparent;
    font-size: 1.5rem;
    color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botaoFechar:hover {
    color: var(--azul);
}

.caixaGeral .blocoFormulario {
    width: 100%;
    padding: 0 25px;
    margin-top: 2rem;
}

.campoInput {
    position: relative;
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid var(--preto);
}

.campoInput input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--preto);
    font-weight: 600;
    padding: 25px 35px 0 5px;
}

.lembrarSenha {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    margin: -10px 0 15px;
    color: var(--preto);
}

.lembrarSenha label {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.lembrarSenha label input {
    accent-color: var(--preto);
    margin-right: 5.8px;
}

.esqueceuSenha {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--preto);
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1rem;
    transition: ease-in-out 0.3s;
}

.esqueceuSenha:hover {
    color: var(--azul);
}

@media (max-width: 767px) {
    .estruturaLogin {
        align-items: center;
        justify-content: center;
        transform: none;
        margin-top: 0;
    }

    .caixaGeral {
        width: 90vw;
        max-width: 20rem;
        height: auto;
        min-height: 15rem;
        position: relative;
        padding-bottom: 1.5rem;
    }

    .caixaGeral .botaoFechar {
        top: 0.5rem;
        right: 0.5rem;
        position: absolute;
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}