.register {
  background: var(--branco);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.containerRegister {
  color: var(--preto);
  background-color: var(--branco);
  padding: 3.125rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 43.75rem;
  height: 36.875rem;
  margin: 2.5rem;
}

.titleRegister {
  color: var(--vermelho);
  font-size: 1.563rem;
}

.formRegister {
  display: flex;
  margin-top: 1.875rem;
  flex-direction: column;
}

.container-input-label {
  display: flex;
  margin-bottom: 0.938rem;
  justify-content: space-between;
}

.labelRegister {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;

}

.inputRegister {
  display: flex;
  margin-right: 15.625rem;
  order: 1;
  width: 15.625rem;
  height: 2.188rem;
  padding: 0.5rem;
  margin-top: 0.313rem;
  border: 0.063rem solid var(--cinza-claro);
  border-radius: 0.625rem;
}

.Requested {
  font-size: 1.063rem;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.radioGroupRegister {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.875rem;
}

.labelRadioRegister {
  margin-right: 1.875rem;
}

.inputRadio {
  margin-right: 0.313rem;
  accent-color: var(--azul);
  cursor: pointer;
}

.containerJustification {
  display: flex;
  margin-bottom: 0.938rem;
  font-size: 1.063rem;
  flex-direction: row;
}

.justificationLabel {
  margin-right: 1.25rem;
}


#justification {
  display: flex;
  border: 0.063rem solid var(--cinza-claro);
  border-radius: 0.625rem;
  width: 20rem;
  height: 5rem;
  font-size: 1.063rem;
  font-style: none;
}