:root {
  --branco: #ffffff;
  --preto: #000000;
  --vermelho: #cc141d;
  --vermelhoescuro: #97161d;
  --azul: #3198d3;
  --azulescuro: #1b5e84;
  --cinzaclaro: #e0e0e0;
  --cinza: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
