.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    padding: 1.875rem;
    border-radius: 12px;
    width: 100%;
    max-width: 31.25rem;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
    position: relative;
}

.esconder {
    display: none;
}

.sublinhado_titulo {
    margin-bottom: 1rem;
}

.sublinhado_editar_evento {
    margin-bottom: 1rem;
}

span {
    color: var(--vermelho);
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.botoes-modal {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem;
    margin-top: 0.625rem;
}

textarea {
    padding: 0.5rem;
    border: 1px solid var(--cinza-claro);
    height: 4rem;
    border-radius: 0.625rem;
    resize: none;
}

.btn_gap {
    margin-top: 0.5rem;
}

.dropdown-checkbox {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: var(--branco);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--cinza-claro);
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

.dropdown-button:hover {
    background-color: var(--azul);
    color: var(--branco);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--branco);
    min-width: 10rem;
    border: 1px solid var(--cinza-claro);
    z-index: 1;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0.5rem;
}

.dropdown-content label {
    display: flex !important;
    padding: 0.25rem;
    cursor: pointer;
    align-items: center;
    gap: 0.3rem !important;
}

.dropdown-content label:hover {
    background-color: var(--azul);
    color: var(--branco);
}

.dropdown-button.active {
    background-color: var(--cinza-claro);
}

.message-spacing {
    margin-bottom: 1rem;
}

.dropdown-btn {
    background-color: var(--branco);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--cinza-claro);
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
    height: 2.188rem;
    width: 100%;
    border-radius: 0.625rem;
}

.dropdown-lista {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--branco);
    min-width: 10rem;
    border: 1px solid var(--cinza-claro);
    z-index: 1;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0.5rem;
}

.dropdown-lista label {
    display: block;
    align-items: center;
    gap: 0.3rem;
    padding: 0.25rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.dropdown-lista label input[type="checkbox"] {
    vertical-align: middle;
}

.dropdown-btn::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #333;
}

.dropdown-lista label:hover {
    background-color: var(--azul);
    color: var(--branco);
}

.dropdown-btn.active {
    background-color: var(--cinza-claro);
}

@media (max-width: 768px) {
    .modal-content {
        padding: 1.5rem;
        width: 90%;
    }
}