body {
  font-family: Arial, Helvetica, sans-serif; url(../fonts)
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/ceuEstrelado.jpg);
  color: var(--branco);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoMackenzie {
  width: 17rem;
  max-width: 100%;
  margin-bottom: .2rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cadastro a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
  color: var(--preto);
  width: 8rem;
  height: 3rem;
  font-weight: bold;
  border-radius: 10px;  
}

.cadastro a:hover {
  background: var(--vermelho);
  color: var(--branco);
  transition: .2s ease-in-out;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem
}

li a {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.2rem;
}

li a:hover {
  color: var(--vermelho);
  transition: .2s ease-in-out;
}

li a:focus {
  outline: none;
  border: 2px solid var(--vermelho);
}

.tituloPrincipalComImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fotoSol {
  width: 31.25rem;
}

.titulo1 {
  font-size: 4rem;
}

.titulo2 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 13rem;
}