body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/ceuEstrelado.jpg);
  color: var(--branco);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoMackenzie {
  width: 17rem;
  max-width: 100%;
  margin-bottom: 0.2rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cadastro a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
  color: var(--preto);
  width: 8rem;
  height: 3rem;
  font-weight: bold;
  border-radius: 10px;
}

.cadastro a:hover {
  background: var(--vermelho);
  color: var(--branco);
  transition: 0.2s ease-in-out;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

li a {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.2rem;
}

li a:hover {
  color: var(--vermelho);
  transition: 0.2s ease-in-out;
}

li a:focus {
  outline: none;
  border: 2px solid var(--vermelho);
}

.login {
  color: var(--vermelho);
  font-size: 1.2rem;
}

.tituloPrincipalComImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fotoSol {
  width: 31.25rem;
}

.titulo1 {
  font-size: 4rem;
}

.titulo2 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 13rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--branco);
  text-align: center;
}

.graficoPoemas,
.graficoSst {
  margin-top: 30px;
}

.graficoSolarFlares {
  grid-column: span 2 / span 2;
}

.graficoLatestData {
  grid-column: span 2 / span 2;
  grid-row-start: 3;
}

.rodape {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.2rem;
  background: var(--vermelho);
}
