body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/ceuEstrelado.jpg);
  color: var(--branco);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.logoMackenzie {
  width: 10.5rem;
  max-width: 100%;
  margin-bottom: 0.3rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cadastro a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
  color: var(--preto);
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 10px;
}

.cadastro a:hover {
  background: var(--vermelho);
  color: var(--branco);
  transition: 0.2s ease-in-out;
}

ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

li a {
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
}

li a:hover {
  color: var(--vermelho);
  transition: 0.2s ease-in-out;
}

li a:focus {
  outline: none;
  color: var(--vermelho);
}

.login a {
  color: var(--vermelho);
  font-size: 1rem;
}

.tituloPrincipalComImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fotoSol {
  width: 20rem;
  margin-bottom: 1rem;
}

.titulo1 {
  font-size: 3rem;
}

.titulo2 {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 13rem;
}

main {
  display: grid;
  gap: 2rem;
  justify-content: center;
  background-color: var(--branco);
  text-align: center;
}

.graficoPoemas,
.graficoSst {
  margin-top: 0.625rem;
}

.graficoPoemas img,
.graficoSst img {
  width: 34.375rem;
  height: 31.25rem;
}

.graficoSolarFlares {
  grid-column: span 2 / span 2;
}

.graficoLatestData {
  grid-column: span 2 / span 2;
  grid-row-start: 3;
  margin-bottom: 0.625rem;
}

.graficoSolarFlares img,
.graficoLatestData img {
  width: 70.75rem;
}

footer {
  background: var(--vermelho);
  color: var(--branco);
  font-size: 0.8rem;
  padding: 1rem 0;
  height: auto;
}

footer a:hover {
  color: var(--preto);
}

.rodape,
.direitosAutorais {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
