.access-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    background-color: var(--branco);
    border-radius: 0.6rem;
    overflow: hidden;
}

.access-table thead {
    background-color: var(--cinza-medio);
    color: var(--branco);
}

.access-table th,
.access-table td {
    padding: 12px 15px;
    border: none;
}

.access-table tbody tr:nth-child(odd) {
    background-color: var(--branco);
}

.access-table tbody tr:nth-child(even) {
    background-color: var(--cinza-claro-100);
}

.paginacao-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.paginacao-container button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--cinza-claro);
    background-color: white;
    cursor: pointer;
}

.paginacao-container button.active {
    font-weight: bold;
    background-color: var(--cinza-claro);
}

.access-table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
}