html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.access-table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 1rem;
  max-width: 100vw;
  box-sizing: border-box;
}

.access-table {
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
  background-color: var(--branco);
  border-radius: 0.6rem;
  overflow: hidden;
  box-sizing: border-box;
  table-layout: fixed;
  width: 930px; 
  min-width: 930px;
}


.access-table thead {
  background-color: var(--cinza-medio);
  color: var(--branco);
}

.access-table th,
.access-table td {
  padding: 12px 15px;
  border: none;
  word-break: break-word;
  white-space: normal;
  max-width: 440px;
}

.access-table tbody tr:nth-child(odd) {
  background-color: var(--branco);
}

.access-table tbody tr:nth-child(even) {
  background-color: var(--cinza-claro-100);
}

.access-table tbody tr {
  border-bottom: 1px solid var(--cinza-escuro);
}

.access-table tbody tr:last-child {
  border-bottom: none;
}

.paginacao-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.paginacao-container button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--cinza-claro);
  background-color: var(--branco);
  cursor: pointer;
  font-size: 0.9rem;
}

.paginacao-container button.active {
  font-weight: bold;
  background-color: var(--cinza-claro);
}

@media (max-width: 768px) {
  .access-table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
  }

  .access-table {
    width: 100%;
    font-size: 0.8rem;
    border-collapse: collapse;
  }

  .access-table th,
  .access-table td {
    padding: 10px;
    text-align: left;
  }

  .btn-criar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .paginacao-container button {
    width: auto;
    max-width: 100px;
    font-size: 0.85rem;
  }
}