.titulo_banner {
    font-size: 3rem;
}

.titulo2_banner {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 13rem;
}

.titulo_padrao {
    display: inline-block;
    color: var(--azul-dark);
    font-size: 1.563rem;
    border-bottom: 3px solid var(--vermelho);
    border-radius: 3px;
}

.subtitulo_padrao {
    font-size: 1.063rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    color: var(--azul-dark);
}


.sublinhado_downloadData {
    width: 11.5rem;
}


@media (max-width: 767px) {
    .titulo_banner {
        font-size: 2rem;
    }

    .titulo2_banner {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        margin-left: 0;
    }


    .titulo_padrao {
        font-size: 1.2rem;
    }

    .sublinhado_downloadData {
        width: 8.9rem;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .titulo_banner {
        font-size: 2rem;
    }

    .titulo2_banner {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        margin-left: 0;
    }

}