.status.ativo {
    color: var(--verde);
    font-weight: bold;
}

.status.deletado {
    color: var(--vermelho);
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sublinhado_register {
    margin-bottom: 1rem;
    width: 14.125rem;
}

span {
    color: var(--vermelho);
    font-weight: bold;
}

.esconder {
    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    padding: 1.875rem;
    border-radius: 12px;
    width: 100%;
    max-width: 31.25rem;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio-grupo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radio-grupo label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
}

.botoes-modal {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem;
    margin-top: 0.625rem;
}

.sublinhado_edit {
    margin-bottom: 1rem;
    width: 7.125rem;
}

.sublinhado_reset-senha {
    margin-bottom: 1rem;
    width: 12.6rem;
}

.campo-inativo {
    background-color: var(--cinza-claro);
    cursor: not-allowed;
}

@media (max-width: 819px) {

    .linha-filtros-superior input,
    .linha-filtros-inferior input,
    .linha-filtros-superior select,
    .linha-filtros-inferior select {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
    }

    .linha-filtros-superior,
    .linha-filtros-inferior {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }


    .modal-content {
        padding: 1.5rem;
        max-width: 100%;
        width: 90%;
    }

    .formulario-card_medio {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        overflow: hidden;
    }

    .botoes_responsivo {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        padding: 0.5rem;
    }

    .sublinhado_register {
        margin-bottom: 1rem;
        width: 14.125rem;
    }
}

@media (min-width: 820px) and (max-width: 1227px) {

    .linha-filtros-superior input,
    .linha-filtros-inferior input,
    .linha-filtros-superior select,
    .linha-filtros-inferior select {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
    }

    .formulario-card_medio {
        width: 100%;
        overflow: hidden;
    }

    .botoes_responsivo {
        display: flex;
        gap: 0.5rem;
    }



}